extends layout

block content

    h1= title
    form.well( method="post")
        div
            div
                label Title
                input(type="text",required ,validationMessage='Title is required!',
                name="title", id="editArticleTitle", placeholder='Enter the title here')
                label City
                input#city(name='city',required, validationMessage='City is needed')
            div
                label Description
                textarea#body(name="body",required, validationMessage='Description is required!', placeholder='Enter the Description here',rows=20,cols=40)
                br
                input#tags(name='tags',required, validationMessage='At least one tag is required!',)
                br
                br
                input.btn.btn-primary(type="submit", value="Send")



block scripts
    script
        var validator = $('.well').kendoValidator().data('kendoValidator');
        $('#tags').kendoAutoComplete({
            dataSource: {
                transport: {
                    read: {
                        url: "/getTags"
                    }
                }
            },
            filter: "startswith",
            placeholder: "Provide tag...",
            separator: ", ",
            dataTextField:"text"
        })

        $('#city').kendoDropDownList({
            dataSource:['Sofia','Plovdiv','Varna','Burgas','Stara Zagora','Pleven','Sliven','Dobrich','Shumen']
        })

