extends layout

block head
    link(rel='stylesheet', href='/stylesheets/index/index.css')

block content
  .lead
    h2 Trading Services
    p Trading services is something that will definitely help your deal with your daily tasks. We will help you find the right person to do your job.
  div#lvNeeds
  script(type='text/kendo',id='lvTemplate')
      <a href='need/#:_id#'><h3 class='lvItem'>#:title#</h3></a>
      <p class='itemBody'> #:body # </p>
      <div>by #:author.name# posted <span class='timeago' title='#=kendo.format("{0:MMM/dd/yyyy H:m:s}",createdAt)#'></span></div>
block scripts
    script
        $(function(){

            $("#lvNeeds").kendoListView({
                dataSource: {
                    transport: {
                        read: {
                            url: "/all"
                        }
                    },
                    schema: {
                        data: "results",
                        parse:function(response){
                             for(idx in response.results){
                                 response.results[idx].createdAt = new Date(response.results[idx].createdAt);
                             }
                             return response;
                        }
                    }
                },
                dataBound:function(){
                        $('.timeago').timeago();
                },
                template: $('#lvTemplate').html()
            });
        })