doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/kendo/kendo.common.min.css')
    link(rel='stylesheet', href='/stylesheets/kendo/kendo.default.min.css')
    block head
  body
    div.content
        div.logArea
            - if (everyauth.loggedIn && everyauth.twitter)
                |Logged as #{everyauth.twitter.user.name}
                img(id='profileImage',src='#{everyauth.twitter.user.profile_image_url}')
                div
                 a(href='/logout') Logout
            -else
                span You need to login in order to post offers/comments
                div
                 a(href='/login/') Login
        div
           a(href='/')
             img#logo(src='/images/logo.jpg')
           a.createNew(href='/create') I need someone to ...
        block content
    script(src='../javascripts/jquery-1.8.3.min.js')
    script(src='../javascripts/kendo/kendo.web.min.js')
    script(src='../javascripts/jquery.timeago.js')
    block scripts
