body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.profileImage {
  width: 35px;
  height: 35px;
  margin-top: 5px;
}
.createNew {
  font-size: 30px;
}
.timeago {
  font-style: italic;
}
#logo {
  height: 150px;
  width: 150px;
}
