body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.createNew {
  font-size: 30px;
}
.timeago {
  font-style: italic;
}
#logo {
  height: 150px;
  width: 150px;
}
